{% block body %}
<h2>bienvenue sur {{nom}}</h2>
{% endblock %}
<ul>
<li> <a href="/lucky/number">App_lucky_number</a> </li>
<li> <a href="/even_odd">Va ici</a> </li>
<li> <a href="/">welcome</a> </li>
</ul>
